@{
    ViewData["Title"] = "403 Access Denied";
}
<div class="h-full flex items-center justify-center flex-col gap-2">
    <i class="ph-bold ph-warning-circle text-4xl text-red-500"></i>
    <h1 class="text-2xl font-bold text-gray-700">403 Access Denied</h1>
    <p class="text-sm text-gray-500">You don't have proper permissions to access this page</p>
    <a asp-action="Index" asp-controller="Home" class="font-mediu bg-emerald-500 py-2 px-3 rounded-sm cursor-pointer hover:bg-emerald-400 transition text-white mt-3">Back to Home</a>
</div>